<div class="login-bg main_div">
        
              <div  class='container bottom_div text-dark pt-5 bg-transparent'>
                <div class='  p-3 mb-5 bg-transparent'>
                  <div class='card-body p-5 bg-transparent'>
             
                    <form   id="form_input">
                    
                <div class="mb-3" id="formBasicEmail">
                  <label>Email address</label><br>
                  <input type="email" class='input-style height my-1 py-1 ' placeholder="  Enter email"/>
                </div>
               
                <div class="mb-3" id="formBasicPassword">
                  <label>Password</label><br>
                  <input type="password"  class='input-style height my-1 py-1' placeholder=" Enter password"
                  />
                </div>
        
                <a class="btn btn-pink-moon rounded center" href="/">
                  Login
                </a>
              </form>
             
            </div></div></div>
       
</div>
