
.login-bg {
    height: 100vh;
    max-width: 100%;
    padding: 0px;
    display: block;
    margin: 0 auto;
    background-image:url('../../assets/image/signup-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  
  
}



.app {
  
    height: 150vh;
   
  }
  .stylebg{
     
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 500% 400%;
      animation: gradient 15s ease infinite;
    }
    @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  .bg-black{
    background-color: rgba(2, 2, 15,.4);
  }
  .txt-black{
    color: rgba(2, 2, 15,1);
  }
  
  
 
  
  
  .btn-pink-moon {
    background: #ec008c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fc6767, #ec008c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fc6767, #ec008c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 1px solid rgb(229, 40, 150);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }
  .custom-bg{
    background-color: rgba(0, 0, 0, 0.447);
  }
  .darkbg{
    background-color: rgb(2, 2, 15);
    border: black;
  }
  .input-style{
    /* background-color:rgba(26,29,36,255) ; */
    font-style: sans-serif;
    max-width: 500px;
    border: 2px solid rgb(233, 166, 21);
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  }
  .input-style:focus{
    /* background-color:rgba(26,29,36,255) ; */
    border: 2px solid #fbfeff;
    border-radius: 4px;
    
  }
  
  
  .input-style:hover{
    border: 2px solid #04d9ff;
    border-radius: 4px;
    color: rgb(0, 0, 0);
  
  }
  .centering{
    max-width: 700px;
   
     /* Center vertically and horizontally */
     /* display: flex;
     justify-content: center;
     align-items: center; */
   }
   .height{
    width: 100%;
    height: 40px;
   
   }
   .btnn{
    color: white;
    width: 80px;
    height: 30px;
    background-color: #1797d2;
    border-radius: 8px;
    border-color: #1797d2;
   }
   .heading{
    font-size: large;
   }


.main_div {
    position: relative;
    height: 100vh;
    width: auto;
   
}
.center_div {
    position: fixed;
    top: 30%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1000;
    
}
.center{
    display: flex;
    justify-content: center;

}
.input-design{
 margin-left: 10px 
}
.footer{
  position: fixed;
  width: 100%;
  bottom: 15px;
  text-align: center;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.btn-golden {
	
	border:1px solid black;
	
	background: gold radial-gradient(lightyellow, gold);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(229, 40, 150);
	}







/* @import url('https://fonts.googleapis.com/css?family=Damion|Muli:400,600'); */
body{
  font-family: 'Muli', sans-serif;
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/geometry2.png");
}
h2 {
    font-family: 'Damion', cursive;
    font-weight: 400;
    color: #4caf50;
    font-size: 35px;
    text-align: center;
    position: relative;
}
h2:before {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    top: 22px;
    background: #4caf50;
    height: 1px;
}
h2 i {
    font-style: normal;
    background: #fff;
    position: relative;
    padding: 10px;
}
:focus{outline: none;}

/* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px 'Muli', sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}

:focus{outline: none;}

.col-3{float: left; width: 90%; margin: 10px 3%; position: relative;} /* necessary to give position: relative to parent. */
input[type="text"]{font: 15px/24px "Lato", Arial, sans-serif; color: #333; width: 100%; box-sizing: border-box; letter-spacing: 1px;}



.effect-8 ~ .focus-border:before,
.effect-8 ~ .focus-border:after{
  content: "";
   position: absolute;
    top: 0; left: 0; 
    width: 0; height: 4px;
     background-color: #4caf50;
      transition: 0.3s;
      
    }
.effect-8 ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
.effect-8 ~ .focus-border i:before,
.effect-8 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 4px; height: 0; background-color: #4caf50; 
  transition: 0.4s; }
.effect-8 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
.effect-8:focus ~ .focus-border:before,
.effect-8:focus ~ .focus-border:after{width: 100%; transition: 0.3s;}
.effect-8:focus ~ .focus-border i:before,
.effect-8:focus ~ .focus-border i:after{height: 100%; transition: 0.4s;}




.effect-20 ~ .focus-border:before,
.effect-20 ~ .focus-border:after{content: ""; position: absolute; top: 0; left: 0; width: 0; height: 2px; background-color: #4caf50; transition: 0.3s;}
.effect-20 ~ .focus-border:after{top: auto; bottom: 0; left: auto; right: 0;}
.effect-20 ~ .focus-border i:before,
.effect-20 ~ .focus-border i:after{content: ""; position: absolute; top: 0; left: 0; width: 2px; height: 0; background-color: #4caf50; transition: 0.4s;}
.effect-20 ~ .focus-border i:after{left: auto; right: 0; top: auto; bottom: 0;}
.effect-20:focus ~ .focus-border:before,
.effect-20:focus ~ .focus-border:after,
.has-content.effect-20 ~ .focus-border:before,
.has-content.effect-20 ~ .focus-border:after{width: 100%; transition: 0.3s;}
.effect-20:focus ~ .focus-border i:before,
.effect-20:focus ~ .focus-border i:after,
.has-content.effect-20 ~ .focus-border i:before,
.has-content.effect-20 ~ .focus-border i:after{height: 100%; transition: 0.4s;}
.effect-20 ~ label{position: absolute; left: 14px; width: 100%; top: 10px; color: #aaa; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;}
.effect-20:focus ~ label, .has-content.effect-20 ~ label{top: -18px; left: 0; font-size: 12px; color: #4caf50; transition: 0.3s;}














