<div class="login-bg main_div">
        
    <div  class='container center_div text-dark bg-transparent'>
      <div class='mb-5 bg-transparent'>
        <div class='card-body p-5 bg-transparent'>
   
          <form   id="form_input">
          
      <div class="mb-3" id="formBasicEmail">
        <label>Email address</label><br>
        <input type="email" class='input-style height my-1 py-1 ' placeholder="  Enter email"/>
        
<!--                   
          <div class="col-3">
            <input class="effect-8 height input-design my-1 py-1" type="text" placeholder="Placeholder Text" autocomplete="off">
              <span class="focus-border">
                <i></i>
              </span>
          </div>
     -->


      </div>
     
      <div class="mb-3" id="formBasicPassword">
        <label>Password</label><br>
        <input type="password"  class='input-style height my-1 py-1' placeholder=" Enter password"
        />
        <!-- <div class="col-3 input-effect">
          <input class="effect-20 height input-design" type="password" placeholder="">
            <label>Password</label>
            <span class="focus-border">
              <i></i>
            </span>
        </div> -->
      </div>

      <a class="btn btn-pink-moon rounded center" [routerLink]="['/userinfo']">
        Register
      </a>
    </form>
   
  </div></div></div>
  <div class="footer">Already have an account ? <a [routerLink]="['/login']"  style="color: rgb(241, 157, 20); text-decoration: none;" > Sign in</a></div>

</div>
s